.composicaochart .card {
    overflow-x: auto;
}

.composicaochart .p-organizationchart .p-person {
    padding: 0;
    border: 0 none;
}

.composicaochart .p-organizationchart .node-header, .composicaochart .p-organizationchart .node-content, 
.composicaochart .p-organizationchart .node-header-insumo, .composicaochart .p-organizationchart .node-content-insumo {
    padding: .5em .7rem;
}

.composicaochart .p-organizationchart .node-header {
    background-color: #495ebb;
    color: #ffffff;
}

.composicaochart .p-organizationchart .node-content {
    text-align: center;
    border: 1px solid #495ebb;
}

.composicaochart .p-organizationchart .node-content img {
    border-radius: 50%;
}

.composicaochart .p-organizationchart .node-header-insumo {
    background-color: #e9286f;
    color: #ffffff;
}
.composicaochart .p-organizationchart .node-content-insumo {
    text-align: center;
    border: 1px solid #e9286f;
}

